<md-toolbar>
    <button md-button (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
    </button>
    <span>Custom Toolbar</span>
</md-toolbar>
<md-sidenav-container>
    <md-sidenav #sidenav mode="push">
        <md-list>
            <h3 md-subheader>Moornmo</h3>
            <md-list-item *ngFor="let link of moornmo">

                <button md-button>{{link}}</button>
            </md-list-item>
            <md-divider></md-divider>
            <h3 md-subheader>Notes</h3>
        </md-list>
    </md-sidenav>
    <div style="margin: 10px;">
        <md-grid-list cols="5" rowHeight="50px" gutterSize="5">
            <md-grid-tile
                    *ngFor="let tile of tiles"
                    [colspan]="tile.cols"
                    [rowspan]="tile.rows"
                    [style.background]="tile.color">
                <button md-button>{{tile.text}}</button>
            </md-grid-tile>
        </md-grid-list>
        <div style="margin-top: 5px;">
            <app-menu></app-menu>
        </div>
    </div>
</md-sidenav-container>

